.titelForm{
    font-size: 2.75rem;
    letter-spacing: 0.2rem;
    margin: 0;
    margin-top: 5vh;
    color: #333467;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #B1D338;
    border-radius: 0.5rem;
    margin-top: 1vh;
    /* alles standaard achter de overlay */
}

label{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: bold;
}

form label, input{
    padding: 2.2vw;
    margin: 1vw;
}

.labelInput{
    padding: 7vw;
    width: 75vw;
}

.labelInput div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

input{
    border: solid 3px #ccc;
    height: 2.5vh;
    transition: ease 0.5s;
    width: 40%;
}

input:focus{
    border: solid 3px #B1D338;
    outline: none;
    width: 75%;
}

.submit{
    color: #ffff;
    background-color: #B1D338;
    border: none;
    border-radius: 0.5rem;
    /* exact values as Figma */
    height: 60px;
    width: 187px; 
    font-size: 1.2rem;
    margin-bottom: 3vh;
}

.plantInruilen{
    display: flex;
    align-items: center;
    height: 100%;
}

.inruilText{
    position: absolute;
    z-index: 1;
    font-size: 1.65rem;
    font-weight: bold;
    color: #333467;
    width: 60%;
    margin: 0 0 0 5vw;
}

.kiesPlant{
    width: 60vw;
    margin-bottom: 2vh;
}

.arrowDown{
    width: 30vw;
    margin-bottom: 1.5vh;
}

.inputKiesPlant{
    position: absolute;
    z-index: 5;
    border: none;
    margin: 0;
    padding: 0;
    width: 60vw;
    height: 20vh;
    opacity: 0;
}

/* KIES PLANT VAN OBA */
.plantKeuzeOba{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 5vh;
}

.planten{
    margin-top: 5vh;
}

.radioButton{
    position: absolute;
    opacity: 0;
    height: 30vh;
}

.plantenFoto{
    width: 50vw;
}

/* + selecteert de eerstvolgende sibling */
.radioButton:checked + img{
    outline: 2px solid #B1D338; /* outline is een lijn buiten de border */
}

/* END KIES PLANT OBA */

.vragen{
    margin-top: 3vh;
    border-top: #B1D338 solid 3px;
    padding-top: 2vh;
    width: 90vw;
}

.vragen h2{
    color: #F86C24;
    font-size: 2rem;
    margin-bottom: 0.5vh;
}

.googleMapsContent{
    margin-top: 2vh;
    color: #F86C24;
}

.googleMapsContent p{
    font-size: 1.5rem;
}

.googleMapsFoto{
    margin-top: 1vh;
    width: 90vw;
}

/* DONEER PAGINA */
.doneerPlant{
    object-fit: cover; /* object wordt niet meer gestretched en houdt aspect ratio */
    width: 75vw;
    height: 40vh;
    margin-bottom: 2vh;
}

.doneerText{
    position: absolute;
    z-index: 1;
    font-size: 2.5rem;
    width: 60%;
    margin: 0 0 0 5vw;
    color: #ffff;
}
