*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F0EE;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.logo{
    width: 75vw;
}

main{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    width: 80vw;
    margin-bottom: 2vh;
    margin-top: 3vh;
}

.plant{
    width: 80vw;
    height: 50vh;
}

p{
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.ruilenDoneren{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 3vw;
    width: 50vw;
    border: none;
    color: #ffff;
    background-color: #B1D338;
    border-radius: 0.5rem;
    /* exact values as Figma */
    height: 60px;
    width: 187px; 
}

.hoeWerktHet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    margin-top: 3vh;
    border-top: #B1D338 solid 3px;
    padding-top: 2vh;
}

.hoeWerktHet h2{
    color: #F86C24;
    font-size: 2rem;
}

.menuButton{
    color: #ffff;
    font-size: 1.2rem;
    background-color: #F86C24;
    padding: 6vw;
    border-radius: 10rem;
    border: none;
}

footer{
    position: sticky;
    bottom: 0;
    margin: 1vw;
}
